<h1>New article</h1>
<%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :title %> <br>
    <%= form.texr_field :title %>
  </p>
  <p>
    <%= form.label :text %> <br>
    <%= form.texr_field :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
