<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<!-- これにより、app/views/comments/_comment.html.erbパーシャルが、
@article.commentsコレクションに含まれているコメントを
すべて出力するようになりました。
renderメソッドが@article.commentsコレクションに含まれる要素を
1つ1つ列挙するときに、各コメントをパーシャルと同じ名前のローカル変数に
自動的に割り当てます。この場合はcommentというローカル変数が使用され、
これはパーシャルでの表示に使用されます。 -->

<h2>Add a comment:</h2>
<%= render "comments/form"%>

<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
